/**
 * @file
 * Remove all transitions for testing.
 *
 * This can be removed if https://www.drupal.org/project/drupal/issus/2901792
 * is fixed.
 */
* {
  /* CSS transitions. */
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  transition: none !important;
  /* CSS transforms. */
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  /* CSS animations. */
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}
